.column {
    background-color: grey;
    float: left;
    margin: 10px 0;
    text-align: center;
    width: 25%;
    height: 200px;
}

h2 {
    font-size: 1em;
    font-family: sans-serif;
}

img {
    max-width: 60%;
}
